#bigPane{
    -fx-background-color: rgb(242,242,242);
}
#innerPane{
    -fx-background-color: white;
}
#print,#out,#workpaper,#add_form,#confirm_form,#cancel_form,#add_form2,#cancel_form2,#confirm_form2{
    -fx-background-color: rgb(255,135,98);
}
HBox{
    -fx-border-color: rgb(204,204,204);
    -fx-border-radius: 0;
}
/*#project_item,#yearcul_item,#month_item,#l_item,#debt_item,#yearbegin_itemm,#row_itemm,#line_item,#endbalance_itemm,#end_item,#begin_item,#operate_item,#formsign_item,#termname_item,#num_regulation_item,#year_cur__item,#month_cur_item,#termname_item2,#num_regulation_item2,#formsign_item2,#operate_item2{*/
    /*-fx-background-color: rgb(239,239,239);*/
    /*-fx-pref-height: 42;*/
/*}*/
/*#property_item,#row_item,#yearbegin_item,#endbalance_item{*/
    /*-fx-background-color: rgb(239,239,239);*/
    /*-fx-pref-height: 42;    */
/*}*/
/*#project_item1,#line_item1,#yearcul_item1,#month_item1{*/
    /*-fx-background-color: rgb(239,239,239);*/
    /*-fx-pref-height: 42;*/
/*}*/
ChoiceBox{
    -fx-background-color: rgb(255,255,255);
    -fx-border-color: rgb(226,231,235);
}
TableView{
    overflow: hidden;
    -fx-border-color: rgb(212,212,212);
    -fx-border-width: 1px 1px 0 0;

    /*-fx-control-inner-background:red;*/
    /*-fx-control-inner-background-alt:pink;*/
}
TableView:focused{
    -fx-border-width: 0;
}
TableView .table-column{
    -fx-alignment: CENTER;
    /*-fx-background-color: rgb(245,255,246);*/
}
TableView .table-cell{
    /*overflow: hidden;*/
    -fx-border-color: rgb(212,212,212);
    -fx-border-width: 1px 1px 0 0;
}

.column-header{
    -fx-pref-height: 42;
}
.table-row-cell{
    -fx-pref-height: 42;
}
.table-row-cell:hover {
    -fx-background: rgb(255,250,208);
}
.table-row-cell:selected {
    -fx-background: rgb(255,250,208);
}
/*rgb(245,255,246)*/
.table-view > .virtual-flow > .scroll-bar:vertical{
    visibility: hidden;
}
.table-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0 -1 -1 -1;
}
