.breadCrumb {
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-graphic-text-gap: 8px;
    -fx-max-width: 160px;
    -fx-min-width: 160px;
}

.breadCrumb:hover {
    -fx-background-color: #e6e6e6;
}

.breadCrumb:pressed {
    -fx-background-color: #ffffff;
}

.breadCrumb:selected {
    -fx-background-color: #e6e6e6;
}

.cutter {
    -fx-min-height: 32px;
    -fx-max-height: 32px;
}