.root {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #e6e6e6;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: transparent;
}

.top-bar {
    -fx-padding: 25;
    -fx-border-insets: 10;
    -fx-background-color: transparent;
}

#gap {
    -size: 24px;
    -fx-min-height: -size;
    -fx-max-height: -size;
}

.icon-button {
    -size: 32px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
}

#close_btn, #max_btn, #minus_btn {
    -icon-paint: #515151;
}

.icon {
    -fx-background-color: -icon-paint;
    -size: 16px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-content-display: graphic-only;
}

#close_btn .icon {
    -fx-shape: "M557.311759 513.248864l265.280473-263.904314c12.54369-12.480043 12.607338-32.704421 0.127295-45.248112-12.512727-12.576374-32.704421-12.607338-45.248112-0.127295L512.127295 467.904421 249.088241 204.063755c-12.447359-12.480043-32.704421-12.54369-45.248112-0.063647-12.512727 12.480043-12.54369 32.735385-0.063647 45.280796l262.975407 263.775299-265.151458 263.744335c-12.54369 12.480043-12.607338 32.704421-0.127295 45.248112 6.239161 6.271845 14.463432 9.440452 22.687703 9.440452 8.160624 0 16.319527-3.103239 22.560409-9.311437l265.216826-263.807983 265.440452 266.240344c6.239161 6.271845 14.432469 9.407768 22.65674 9.407768 8.191587 0 16.352211-3.135923 22.591372-9.34412 12.512727-12.480043 12.54369-32.704421 0.063647-45.248112L557.311759 513.248864z";
}

#minus_btn .icon {
    -fx-min-height: 1px;
    -fx-max-height: 1px;
    -fx-shape: "M863.74455 544.00086 163.424056 544.00086c-17.664722 0-32.00086-14.336138-32.00086-32.00086s14.336138-32.00086 32.00086-32.00086l700.320495 0c17.695686 0 31.99914 14.336138 31.99914 32.00086S881.440237 544.00086 863.74455 544.00086z";
}

#max_btn .icon {
    -fx-shape: "M832 928.00086l-640 0c-52.9288 0-96.00086-43.07206-96.00086-95.99914l0-640c0-52.9288 43.07206-96.00086 96.00086-96.00086l640 0c52.92708 0 95.99914 43.07206 95.99914 96.00086l0 640C928.00086 884.9288 884.9288 928.00086 832 928.00086zM192 160.00086c-17.632039 0-32.00086 14.368821-32.00086 32.00086l0 640c0 17.664722 14.368821 31.99914 32.00086 31.99914l640 0c17.664722 0 31.99914-14.336138 31.99914-31.99914l0-640c0-17.632039-14.336138-32.00086-31.99914-32.00086L192 160.00086z";
}

#close_btn:hover, #max_btn:hover, #minus_btn:hover {
    -fx-background-color: #e6e6e6;
}


#settings_btn, #signOut_btn, #financial_btn, #chain_btn {
    -tag-paint: #515151
}

.tag {
    -fx-background-color: -tag-paint;
    -size: 24px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-content-display: graphic-only;
}

.text-button {
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-graphic-text-gap: 8px;
}

#settings_btn .tag {
    -fx-shape: "M613.118514 805.378817l50.906413 21.376866 53.956889-128.489396-50.906413-21.37789c-51.639101-21.683858-51.408857-56.675814 0.309038-77.836763l51.187823-20.909216-52.727898-128.994909-51.134611 20.889773c-51.80897 21.165042-76.478835-3.744277-54.715159-55.263651 0.062422-0.147356 0.020466-0.251733 0.064468-0.360204l21.255093-50.613748L452.877973 309.865303l-21.453614 51.090609c-21.754466 51.394531-56.670697 51.197032-77.797877-0.554632l-20.908192-51.140751-128.97649 52.689013 20.8734 51.170426c21.162995 51.765991-3.733021 76.400041-55.280024 54.753021l-50.960649-21.400403L64.416614 574.96403l50.961672 21.399379c51.548026 21.645996 51.391461 56.667627-0.398066 77.840856L63.846632 695.094038l52.67571 129.015376 51.167357-20.915355c51.723012-21.115923 76.314083 3.674693 54.867632 55.155181l-21.467941 51.125401 128.437208 53.934376 21.255093-50.614771c0.046049-0.10847 0.166799-0.190335 0.211824-0.296759 21.545712-51.613518 56.586786-51.405787 77.782527 0.330528l20.874423 51.170426 129.029702-52.711526-20.925588-51.147914C536.658098 808.357662 561.480436 783.694959 613.118514 805.378817zM343.980797 749.058091c-62.08808-26.072819-91.28096-97.567129-65.215304-159.637814 26.064632-62.068637 97.54871-91.287099 159.63679-65.214281 62.068637 26.063609 91.28096 97.567129 65.216327 159.635767C477.552955 745.913471 406.049434 775.123746 343.980797 749.058091zM940.219363 331.270822l39.053458 0 0-98.574063-39.053458 0c-39.617299 0-49.051159-22.883173-21.115923-50.848085l27.655873-27.65485-69.713758-69.686129-27.627221 27.628244c-27.992541 27.991518-50.903344 18.502399-50.818409-21.057595 0-0.112564-0.057305-0.169869-0.057305-0.252757L798.54262 51.994188l-98.532107 0L700.010513 91.189885c-0.112564 39.476083-22.938432 48.909943-50.889017 20.945031L621.479949 84.507696l-69.685105 69.685105 27.626197 27.65485c27.978215 27.964912 18.488073 50.848085-21.056572 50.848085l-39.096437 0 0 98.574063 39.096437 0c39.546691 0 49.034786 22.88215 21.057595 50.874691l-27.627221 27.628244 69.687152 69.712735 27.641547-27.652803c27.949562-27.937283 50.77543-18.503423 50.887994 20.944008l0 39.223327 98.534154 0L798.54569 473.169623c0-0.083911 0.057305-0.169869 0.057305-0.25378-0.084934-39.558971 22.825868-49.02046 50.817386-21.085224l27.628244 27.65485 69.713758-69.712735-27.65485-27.628244C891.168204 354.152972 900.603087 331.270822 940.219363 331.270822zM749.270427 368.246969c-47.632857 0-86.250386-38.631856-86.250386-86.250386 0-47.617507 38.617529-86.250386 86.250386-86.250386 47.617507 0 86.250386 38.631856 86.250386 86.250386C835.520813 329.615113 796.887934 368.246969 749.270427 368.246969z";
}

#signOut_btn .tag {
    -fx-shape: "M801.28 691.2c0 43.52-33.28 76.8-76.8 76.8H665.6V204.8c0-43.52-33.28-76.8-76.8-76.8L312.32 51.2h412.16c43.52 0 76.8 33.28 76.8 76.8v153.6H870.4V76.8c0-43.52-33.28-76.8-76.8-76.8H128c-5.12 0-10.24 0-15.36 2.56-10.24 0-20.48 5.12-28.16 10.24-2.56 2.56-7.68 5.12-10.24 10.24-7.68 7.68-12.8 15.36-15.36 25.6S51.2 66.56 51.2 76.8v665.6c0 20.48 7.68 40.96 23.04 53.76 12.8 15.36 33.28 23.04 53.76 23.04l460.8 204.8c43.52 0 76.8-33.28 76.8-76.8v-128h128c43.52 0 76.8-33.28 76.8-76.8v-204.8h-69.12v153.6zM588.8 588.8c-15.36 0-25.6-10.24-25.6-25.6s10.24-25.6 25.6-25.6 25.6 10.24 25.6 25.6-10.24 25.6-25.6 25.6z m358.4-179.2l-122.88-76.8v51.2H691.2v51.2h133.12v51.2l122.88-76.8z";
}

#settings_btn:hover, #signOut_btn:hover, #financial_btn:hover, #chain_btn:hover {
    -fx-background-color: #e6e6e6;
}

#logo_btn {
    -fx-graphic: url("../images/logo.png");
    -fx-background-color: transparent;
}