.column-header{
    -fx-font-size: 15px;
    -fx-pref-height: 32;
}
.table-row-cell{
    -fx-pref-height: 32;
}
.table-row-cell:hover {
    -fx-background: rgb(255,250,208);
}
.table-row-cell:selected {
    -fx-background: rgb(255,250,208);
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: -0.3em 0.166667em 0em 0.0em;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}
TableView .table-column{
    -fx-alignment: CENTER;
}
.table-row-cell:hover {
    -fx-background: rgb(255,250,208);
}
.table-row-cell:selected {
    -fx-background: rgb(255,250,208);
}
.tab-pane .tab:selected
{
    -fx-background-color: #e6e6e6;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(255,135,98);
    /*-fx-border-color: black;*/
    outline:none;
}